[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zim"]
	path = zim
	url = https://github.com/zimfw/zimfw.git
[submodule "homebrew"]
	path = homebrew
	url = https://github.com/Homebrew/install.git
[submodule "dracula-vim"]
	path = dracula-vim
	url = https://github.com/dracula/vim.git
[submodule "dracula-terminal"]
	path = dracula-terminal
	url = https://github.com/orlandohohmeier/terminal-app.git
[submodule "spacemacs"]
	path = spacemacs
	url = https://github.com/syl20bnr/spacemacs
